<hr class="m-0">


<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0"><span id='firstName'>{{ site.data.profile.first_name }}</span>
      <span class="text-primary" id='lastName'>{{ site.data.profile.last_name }}</span>
    </h1>
    <div class="subheading mb-5" id='address'>
      {{ site.data.profile.location }}
    </div>
    <p class="lead mb-5" id='about_me'>
      <!-- ABOUT ME SECTION  -->
      {{ site.data.profile.about }}
    </p>

  </div>
</section>